body{
  font-family: 'Courier New', Courier, monospace;
}

.navbar{
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #672280, #A626D3);
  padding: 20px 10px;
  font-size: 20px;
  font-weight: bold;
  word-spacing: -8px;
}

.navbar img{
  width: auto;
  height: 75px;
  padding: 0 30px 0 ;
}

.navbar h1{
  color: aliceblue;
}

.meme-form{
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 20px;
  padding: 70px;
}

.meme-form  label{
  margin-top: 40px;
  font-weight: bolder;  
}

.meme-form-input{
  border: 1px solid #D5D4D8;
  border-radius: 5px;
  font-size: 15px;
  text-indent: 5px;
}

.meme-form-btn {
  grid-column: 1/-1;
  border: none;
  border-radius: 5px;
  background: linear-gradient(90deg, #672280, #A626D3);
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  color: aliceblue;
  padding: 8px;
  cursor: pointer;
}